/* .site-header {
    padding: 15px 0;
    background-color: #ccc;
  }
  .site-header__container {
    display: flex;
    align-items: center;
  }
  .site-header__global-search{
    margin-right: auto;
  }
  
  .site-header__logo {
    margin-right: 17px;
  }
  
  .site-header__sitenav-toggler {
    display: none;
  }
  .sitenav__list {
    display: flex;
    padding: 0;
    margin: 0;
  }
  .sitenav__item:not(:last-child) {
    margin-right: 16px;
  }
  .sitenav__link {
    display: block;
    width: 100%;
  }
  @media only screen and (max-width: 700px){
    .site-header{
      position: relative;
      z-index: 1;
    }
    .site-header__global-search{
      flex-grow: 1;
      margin-right: 16px;
    }
    .global-search__input{
      width: 100%;
    }
    .site-header__sitenav{
      display: none;
    }
    .site-header__sitenav-toggler{
    display: block;
    }
    .sitenav-header--open .site-header__sitenav{
      position: absolute;
      background-color: #ddd;
      display: block;
      z-index: 1;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 20px;
    }
    .sitenav__list{
      flex-direction: column;
    }
    .sitenav__item{
      width: 100%;
    }
    .sitenav__item:not(:last-child){
      margin-right: 0;
      margin-bottom: 12px;
    }
  } */
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik",sans-serif;
}
body{
    height: 100%;
    background: linear-gradient(
        to right,
        #575ce5 50%,
        #f9fbfc 50%
    ) fixed;
}
.container{
    background-color: #ffffff;
    width: 400px;
    padding: 50px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    box-shadow: 15px 30px 35px rgba(0,0,0,0.1);
    border-radius: 10px;
    -webkit-perspective: 300px;
    perspective: 300px;
}
.stats{
    text-align: right;
    color: #101020;
    font-weight: 500;
    line-height: 25px;
}
.coin{
    height: 150px;
    width: 150px;
    position: relative;
    margin: 50px auto;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
.coin img{
    width: 145px;
}
.heads,.tails{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
.tails{
    transform: rotateX(180deg);
}
@keyframes spin-tails{
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(1980deg);
    }
}
@keyframes spin-heads{
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(2160deg);
    }
}
.buttons{
    display: flex;
    justify-content: space-between;
}
button{
    width: 120px;
    padding: 10px 0;
    border: 2.5px solid #424ae0;
    border-radius: 5px;
    cursor: pointer;
}
#flip-button{
    background-color: #424ae0;
    color: #ffffff;
}
#flip-button:disabled{
    background-color: #e1e0ee;
    border-color: #e1e0ee;
    color: #101020;
}
#reset-button{
    background-color: #ffffff;
    color: #424ae0;
}